@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">DR4 TP2</h1>
	<p><a href="/CityManager/CreateCity">Ir para cadastro de cidades</a></p>
	<p><a href="/CityManager/CityDetails/São%20Paulo">Ir para detalhes da cidade</a></p>
	<p><a href="/CityManager/CityList">Ir para lista de cidades</a></p>
	<p><a href="/CountryManager/CreateCountry">Ir para cadastro de países</a></p>
	<p><a href="/CountryManager/CreateCountries">Ir para cadastro de múltiplos países</a></p>
	<p><a href="/NoteManager/SaveNote">Ir para notas</a></p>
	<p><a href="/NoteManager/ReadNotes">Ir para ler notas</a></p>
</div>
